/**
 * Based on MDL article template
 */

.site-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #4CAF50;
  flex-shrink: 0;
}

.site-main {
  margin-top: -35vh;
  flex-shrink: 0;
}

.site-header .mdl-layout__header-row {
  padding-left: 40px;
}

.site-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.site-content {
  border-radius: 2px;
  padding: 40px 56px;
  margin-bottom: 24px;
}

.site-layout.is-small-screen .site-content {
  padding: 40px 28px;
}

.site-content h3 {
  margin-top: 16px;
}

.site-content table{
  border: 0
}

.site-content td{
  border:0
}

.list-item {
    width: calc(100% - 16px);
}
